@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian:wght@100;300;500;600;800;900&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.row {
  margin: 0px !important;
}

.Links {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.heading {
  font-weight: 600;
  font-size: 1.2rem;
  text-transform: uppercase;
}

h1,
h2,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  padding: 0.5rem 1rem;
  font-weight: bold;
}

.Mui-selected,
.MuiTab-textColorInherit,
.MuiTab-textColorPrimary,
.MuiTab-textColorSecondary,
.MuiTabs-indicator {
  color: black;
}

body {
  /* background: #d1d1e9; */
}

*::-webkit-scrollbar {
  width: 0px;
}

.articleBody {
  max-width: 10rem;
  margin: auto;
}

.flex {
  display: flex;
  align-items: center;
}

.dir {
  flex-direction: column;
}

.profile {
  height: 8vh;
  width: 8vh;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.articleText {
  letter-spacing: -0.0003;
  line-height: 32px;
  color: rgba(41, 41, 41, 1) !important;
  font-weight: 500;
  font-size: 1.2rem;
}

.textLink {
  cursor: pointer;
}


/* ColorThemes */

.paper {
  color: "#fff";
}
.primary {
  color: "#173A5E";
}
.secondary {
  color: "#46505A";
}
.active {
  color: "#001E3C";
}
.dark {
  color: "#009688";
}

.bg-paper {
  background-color: "#fff";
}
.bg-primary {
  background-color: "#173A5E";
}
.bg-secondary {
  background-color: "#46505A";
}
.bg-active {
  background-color: "#001E3C";
}
.bg-dark {
  background-color: "#009688";
}


