.cardPadding{
    padding: 30px 40px;
}

@media (max-width: 425px) {
    .cardPadding{
        padding: 25px 25px;
    }
}

@media (max-width: 400px) {
    .cardPadding{
        padding: 15px 15px;
    }
}